@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: #323437;
    font-family: "Lexend Deca", sans-serif;
}

.nav_bar{
    padding-top: 15px;
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow:hidden;
}


#left_nav img{
    height: 25px;
}

#left_nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap:0.6rem
}

#image_div{
    margin-top: 1.5rem;
}

#upper_text{
    height: 10px;
    font-size: 25px;
}

#text_div h1{
    color: #d1d0c5;
    font-weight: 400;
}
#text_div h6{
    color: #646669;
}
#text_div{
    line-height: 15px;
    z-index: 1;
}

#right_nav{
    /* background-color: green; */
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: left;
    gap:1.9rem;
    height: 25px;
    margin-top: 1.5rem;
}

#icons{
    margin-left: -0.5rem;
    display: flex;
    gap:1rem;
    color: #646669;
    margin-top: 20px;
    max-width:15px;
    align-items: center;
}
#icons a i{
    color: #646669;
    font-size: 1.1em;
    font-weight: bolder;
    margin-left: 1rem;
    padding: -1px;
}

#Key{
    margin-right: -10px;
}

#crown{
    margin-right: -10px; 
}
#info{
    margin-right: -10px;
}

/* i:before{
    color:#646669;
} */
#Key:hover,#crown:hover,#info:hover,#cog:hover{
    color: #d1d0c5;
}

#right_nav a{
color: #646669;
}

#bell:hover,#user:hover{
    color: #d1d0c5;
}




/* body styling */

.body_div{
    margin-top:1.5rem;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}


#horizontal_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    border-radius: 5px;
    width:50%;
    height: 2rem;
    background-color:#2c2e31;

    /* z-index: 1; */
}

.bar{
    background-color: #323437;
    height: 19px;
    width:4px;
}

/* #first_txt,#sec_txt{
    margin-top: 1.8rem;
} */


#rd_1,#rd_2,#rd_3,#rd_4,#rd_5{
 
    appearance: none;
}

#first_i{
width: 60%;
display: flex;
align-items: center;
justify-content: space-evenly;
background-color: #2c2e31;
gap: 2px;

}

#first_i i{
    background-color: #2c2e31;
}


#div_1,#div_2,#div_3,#div_4,#div_5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:6px;
    background-color: #2c2e31;
    width:5px;
}






